.app {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.app.light {
  background-color: white;
  color: black;
}

.app.dark {
  background-color: #333;
  color: white;
}

header {
  margin-bottom: 20px;
}

nav a {
  margin-right: 15px;
  text-decoration: none;
  color: inherit;
}

button {
  margin-left: 20px;
}
.line {
   text-decoration: line-through red;
 }

.ul:hover {
  cursor: pointer;
}

.point {
  position: fixed; top: 10px; right: 10px;
}